<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shows & Movies</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tvShowPetProject.styles.css" asp-append-version="true" />

</head>

<body>
    <header id="main_navigation">
        <nav class="navbar py-3 px-5">
            <ul class="nav_logo">
                <li class="d-flex align-items-center gap-3">
                    <a href=""><i class="fa-solid fa-circle-play fa-2x"></i></a>
                    <a href="">Anytime TV Shows</a>
                </li>
            </ul>
            <u class="nav_menu">
                <li><a href="/"><i class="fa-solid fa-house fa-1x"></i></a></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="TVShow" asp-action="Index">
                        TV Shows</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Genre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Celebrities</a>
                    </li>
                </u>
            </nav>
        </header>
       
        <div class="p-0 m-0">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2026 - tvShowPetProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://kit.fontawesome.com/f15d50a24d.js" crossorigin="anonymous"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>

</html>
