body {
  /* color:#fff;
  background-color:#222; */
}
a {
  color:red;
}
a.button, button {
  background-color:red;
  color:#fff;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration:none;
  display:inline-block;
  padding:0.5em 0.8em;
  border-radius:0.3em;
}